.formWrapper {
    // border: 2px solid pink;
    display: flex; 
    flex-direction: column;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    
    .inputWrapper {
        // border: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px;
        height: 600px;
        // width: 600px;
        width: 70%;

        input {
            // border: 2px solid yellow;
            padding: 15px;
            border-radius: 15px;
            outline: none; 
        }

        .submitButtonWrapper {
                // border: 2px solid violet;
                display: flex;
                justify-content: center;

            .submitButton {
                background-color:grey;
                color: white;
                border: 2px solid whitesmoke;
                padding: 5px 20px 5px 20px;
                text-align: center;
                border-radius: 15px;
                font-size: 20px;
                transition: 0.5s;
                outline: none;
                // width: 30%;
                margin-top: 20px;
               
                    &:hover {
                        cursor: pointer;
                        transition: 0.5s;
                        box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
                    }
            }
        }  
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        margin-bottom: 40px;
    }
    .inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      
        input {
            width: 90%;
            margin: 1px 1px;
            // border: 2px solid blue;
        } 
    }
}