.cardListWrapper {
    display: flex; 
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #313131;

    .astrologyHeading {
        display: flex;
        justify-content: center;
        color: whitesmoke;
        background-color: #242424;
        width: 100%;

        .catLovers {
            font-size: 40px;
            margin: 20px;
        }
    }

    .introToCats {
        margin: 0 50px 0 50px;
    }

    .cardList {
        display: flex;
        height: 90%;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly; 
    }
}

