.factsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;
    color: whitesmoke;
    background-color:  #242424;
    border-radius: 10px;
    width: 850px;
    height: 300px;
    transition: 0.5s;

    h3, p {
        text-align: center;
        padding: 0px 15px 0px 15px; 
    }

    &:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
    }
}